<head>
   <title>Heliactyl Next</title>

   <!-- Tailwind CDN -->
   <script src="https://cdn.tailwindcss.com"></script>

   <!-- Alpine.js CDN -->
   <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>

   <!-- Load Helpers Root -->
   <%- include('../Helpers/_') %>

   <!-- SF Pro Rounded Font -->
   <!-- Fonts: -->
   <style>
      @font-face {
         font-family: 'SF Pro Rounded';
         src: url('/assets/fonts/SF-Pro-Rounded-Regular.otf') format('opentype');
         font-weight: 400;
         font-style: normal;
      }

      @font-face {
         font-family: 'SF Pro Rounded';
         src: url('/assets/fonts/SF-Pro-Rounded-Medium.otf') format('opentype');
         font-weight: 500;
         font-style: normal;
      }

      @font-face {
         font-family: 'SF Pro Rounded';
         src: url('/assets/fonts/SF-Pro-Rounded-Semibold.otf') format('opentype');
         font-weight: 600;
         font-style: normal;
      }

      @font-face {
         font-family: 'SF Pro Rounded';
         src: url('/assets/fonts/SF-Pro-Rounded-Bold.otf') format('opentype');
         font-weight: 700;
         font-style: normal;
      }

      body {
         font-family: 'SF Pro Rounded', sans-serif;
      }
   </style>

</head>
<body class="bg-gray-100 text-gray-800"> <!-- default -->
   <!-- Load Navigation -->
   <%- include('./Navigation') %>

   <!-- Load Main Content -->
   <main class="ml-64">
   
   <% /* ------------------------------------------------------------ */ %>
   <% /*                  Page will be rendered here.                 */ %>
   <% /* ------------------------------------------------------------ */ %>
