<div class="fixed inset-y-0 z-30 hidden h-screen w-64 lg:block"></div>
    <div class="flex w-full flex-col bg-sky-950">
       <div class="flex h-24 shrink-0 items-center px-7 2xl:px-8"><span class="text-xl font-medium">Heliactyl</span></div>
       <%- include('./Sidebar') %>
    </div>
 </div>