<!-- src/views/Layout/SidebarItems.ejs -->

<li class="mx-4 block 2xl:mx-5">
    <a href="/dashboard" class="unstyled-link group relative flex w-full items-center rounded-md px-3 py-1.5 text-sm font-normal leading-6 transition-colors duration-150 hover:bg-sky-600/20 hover:text-white focus:bg-sky-600/40 focus:outline-none focus-visible:ring-2 focus-visible:ring-primary-8 active:bg-sky-600/40 text-white/70 active:text-white focus-visible:bg-transparent 
   " role="link" disabled="false">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.5 16.5" fill="currentColor"
            class="mr-3 h-4 w-4 flex-none">
            <path
                d="M.75 0A.750075.750075 0 0 0 0 .75v6a.750075.750075 0 0 0 .75.75h15a.750075.750075 0 0 0 .75-.75v-6a.750075.750075 0 0 0-.75-.75Zm.75 1.5H15V6H1.5Z"
                stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M3.75 3.25a.5.5 0 0 0-.5.5.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5.5.5 0 0 0-.5-.5z"
                stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M12.75 4.25c.2761 0 .5-.224.5-.5s-.2239-.5-.5-.5-.5.224-.5.5.2239.5.5.5z"></path>
            <path
                d="M12.75 2.75c-.543603 0-1 .4565658-1 1s.456397 1 1 1c.543603 0 1-.4565658 1-1s-.456397-1-1-1zm0 .5c.267403 0 .5.2325655.5.5s-.232597.5-.5.5-.5-.2325655-.5-.5.232597-.5.5-.5z">
            </path>
            <path
                d="M.75 9a.750075.750075 0 0 0-.75.75v6a.750075.750075 0 0 0 .75.75h15a.750075.750075 0 0 0 .75-.75v-6a.750075.750075 0 0 0-.75-.75Zm.75 1.5H15V15H1.5Z"
                stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M3.75 12.25a.5.5 0 0 0-.5.5.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5.5.5 0 0 0-.5-.5z"
                stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M12.75 13.25c.2761 0 .5-.224.5-.5s-.2239-.5-.5-.5-.5.224-.5.5.2239.5.5.5z"></path>
            <path
                d="M12.75 11.75c-.543603 0-1 .456566-1 1s.456397 1 1 1c.543603 0 1-.456566 1-1s-.456397-1-1-1zm0 .5c.267403 0 .5.232565.5.5s-.232597.5-.5.5-.5-.232565-.5-.5.232597-.5.5-.5z">
            </path>
        </svg>
        Servers
    </a>
</li>
<li class="mx-4 block 2xl:mx-5">
    <a href="/settings" disabled="false" class="unstyled-link group relative flex w-full items-center rounded-md px-3 py-1.5 text-sm font-normal leading-6 transition-colors duration-150 hover:bg-sky-600/20 hover:text-white focus:bg-sky-600/40 focus:outline-none focus-visible:ring-2 focus-visible:ring-primary-8 active:bg-sky-600/40 text-white/70 active:text-white focus-visible:bg-transparent 
 " role="link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" fill="none" stroke="currentColor"
            class="mr-3 h-4 w-4 flex-none">
            <circle cx="6" cy="6" r="1.5" stroke-linecap="round" stroke-linejoin="round"></circle>
            <path
                d="M10,6a3.932,3.932,0,0,0-.142-1l1.28-1.1-.75-1.3-1.579.556a3.989,3.989,0,0,0-1.748-1L6.75.5H5.25L4.939,2.16a3.989,3.989,0,0,0-1.748,1L1.612,2.6.862,3.9,2.142,5A3.932,3.932,0,0,0,2,6a3.932,3.932,0,0,0,.142,1L.862,8.1l.75,1.3,1.579-.555a3.989,3.989,0,0,0,1.748,1L5.25,11.5h1.5l.311-1.66a3.989,3.989,0,0,0,1.748-1l1.579.555.75-1.3L9.858,7A3.932,3.932,0,0,0,10,6Z"
                stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        Settings
    </a>
</li>