<!-- src/views/App/Dashboard/Dashboard.ejs -->
<% /* Load root of application */ %>
<%- include('../Layout/_') %>

<% /* ------------------------------------------------------------ */ %>
<% /*                          Page Content                        */ %>
<% /* ------------------------------------------------------------ */ %>
<% /* | Route: /dashboard                                          */ %>
<% /* | Path: src/views/App/Dashboard/Dashboard.ejs                */ %>
<% /* | Built for: Heliactyl Next 3.0.0 (Aeolus)                   */ %>
<% /* ------------------------------------------------------------ */ %>

<p>Hello World!</p>

<% /* ------------------------------------------------------------ */ %>
<% /*                          End of File                         */ %>
<% /* ------------------------------------------------------------ */ %>
<% /* Load footer & scripts */ %>
<%- include('../Layout/__') %>