<head>
    <!-- Required meta tags -->
    <title><%= settings.name %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/tailwind.css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Cabin', sans-serif;
        }
@font-face {
  font-family: 'Poppins';
  src: local('Cabin'), local('Cabin-Regular');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Cabin Italic'), local('Cabin-Italic');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Cabin Bold'), local('Cabin-Bold');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Cabin Bold Italic'), local('Cabin-BoldItalic');
  font-weight: bold;
  font-style: italic;
}
.active {
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff;
}
    </style>
</head>
